body {
  background-color: #0e585b !important;
  color: white;
  padding: 150px;
  font-family: Arial;
  font-weight: 900;
  display: flex;
}
h2{
 color:#ecf3f4 ;
 background-color:darkslategrey;
 text-align: center;
 border-style:groove;
}
.baslık {
  text-align: center;
  color: rgb(47, 209, 158);
  font-size:250%;
  background-color:darkslategrey;
}
.kisisel {
background-color: rgb(71, 170, 150);
float: left;
height: 500px;
width: 260px;
margin: 20px;
}
.telefon {
  background-color: rgb(71, 170, 150);
  float: left;
  height: 500px;
  width: 260px;
  margin: 20px;
}
.adres {
  background-color: rgb(71, 170, 150);
  float: left;
  height: 500px;
  width: 260px;
  margin: 20px;
}
.sosyal {
  background-color: rgb(71, 170, 150);
  float: left;
  height: 500px;
  width: 260px;
  margin: 20px;
}
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #a0e396;
}
th,
td {
  border: 1px solid #0e585b;
}
th {
  height: 30px;
  text-align: left;
  color: #0e585b;
}
td {
  height: 40px;
  vertical-align: center;
  text-align: center;
  padding-left: 5px;
  color: black;
  word-break: break-all;
}
button {
  border-radius: 10px;
  border: 1px solid white;
  width: 6%;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: #3d9d6f; 
  position:relative;
}
input {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: #a0e396;
  color: black;
  display: flex;
  cursor: default;
}
